body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mySlides {display:none}
.buttons {
  background:linear-gradient(180deg, #FFDC1F 0%, #ED1515 100%);
  color: white !important;
  transition: 700ms;
}
.buttons:hover {
  /* background: white !important; */
  /* color: orangered !important; */
  transform: scale(1.1);
}

.buttons1 {
  background:linear-gradient(180deg, #6ED559 0%, #2B5B29 100%);
  color: white !important;
  transition: 700ms;
}
.buttons1:hover {
  /* background: white !important; */
  /* color: orangered !important; */
}